app:
  baseUrl: https://localhost:3000
  https:
    $include: certificate.yaml
  errorReporter: null
  telemetrydeck: null

backend:
  baseUrl: https://localhost:7007
  listen:
    port: 7007
  cors:
    origin: https://localhost:3000
  https:
    $include: certificate.yaml
  errorReporter: null

auth:
  environment: development

techdocs:
  builder: local
  generator:
    runIn: docker
  publisher:
    type: local
    local:
      publishDirectory: ../../volumes/techdocs

# For local development purposes, you can add/change catalog sources here.
#
# To add a local YAML file as a source, uncomment the entry of type 'file'.
# The relative path '../../catalog/catalog.yaml' translates to
# 'catalog/catalog.yaml' seen from the repository root.
#
# Note: When multiple entities with the same metadata.name property are discovered,
# one will be processed and all others will be skipped.
#
# See https://backstage.io/docs/features/software-catalog/configuration/ for more info.

catalog:
  locations:
    - type: url
      target: https://github.com/giantswarm/backstage-catalogs/tree/main/catalogs/*.yaml
    # - type: file
    #   target: ../../catalog/*.yaml
