# For local development purposes, you can add/change catalog sources here.
#
# To add a local YAML file as a source, uncomment the entry of type 'file'.
# The relative path '../../catalog/catalog.yaml' translates to
# 'catalog/catalog.yaml' seen from the repository root.
# 
# Note: When multiple entities with the same metadata.name property are discovered,
# one will be processed and all others will be skipped.
#
# See https://backstage.io/docs/features/software-catalog/configuration/ for more info.

catalog:
  locations:
    - type: url
      target: https://github.com/giantswarm/github/blob/main/catalog/generated.yaml
    # - type: file
    #   target: ../../catalog/catalog.yaml
